*{
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 221, 228);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

.card-header {
    font-size: 24px;
}

h1 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

.btn {
    background-color: #0099ff;
    color: ghostwhite;
    font-size: 1.3rem;
    padding: 5px 6px;
    width: 200px;
    display: block;
    margin: 10px 10px;
    border-radius: .3rem;
    border: none;
    outline: none;
    transform: translate(-1px, -1px);
}

header {
    background-image: linear-gradient(to right, #0099ff, #9933ff);
    color: ghostwhite;
}

.btn:hover {
    background-color: #027cce;
    transform: translate(0, 0);
    box-shadow: 2px 2px #04619e;
}

.btn-primary::first-letter {
    text-transform: capitalize;
}

.btn-primary {
    position: relative;
}

#city::first-letter {
    text-transform: capitalize;
}

#city {
    font-weight: bolder;
}

.app-title {
    font-size: 3rem;
    padding: 0 10px;
    display: inline-block;
}

.city-form,
.form-input {
    display: block;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid;
}

.text-uppercase {
    text-transform: uppercase;
}

.card-body {
    background-color: rgb(12, 77, 102);
}

.card-title {
    color: snow;
}

.card-text {
    color: snow;
}

/* BOOTSTRAP ASSIST */


/* MEDIA QUERY FOR DESKTOP */
@media (max-width: 1200px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    main {
        text-align: left;
    }
    .btn {
        width: 175px;
    }

}

@media (max-width: 992px) {
    .btn {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .btn {
        width: 100px;
    }
}

@media (max-width: 576px) {

}