*{
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

h1 {
    font-weight: 700;
    margin: 0;
    line-height: 1.25;
}

.btn {
    background-color: dodgerblue;
    color: ghostwhite;
    font-size: 1.3rem;
    padding: 5px 6px;
    width: 215px;
    display: block;
    margin: 5px 5px;
    border-radius: .3rem;
    border: none;
    outline: none;
    transform: translate(-1px, -1px);
}

header {
    background-image: linear-gradient(to right, #0099ff, #9933ff);
    color: ghostwhite;
}

.btn:hover {
    background-color: #027cce;
    transform: translate(0, 0);
    box-shadow: 2px 2px #04619e;
}

.btn-primary::first-letter {
    text-transform: capitalize;
}

#city::first-letter {
    text-transform: capitalize;
}

.app-title {
    font-size: 3rem;
    padding: 0 10px;
    display: inline-block;
}

.city-form,
.form-input {
    display: block;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid;
}

.text-uppercase {
    text-transform: uppercase;
}

/* MEDIA QUERY FOR DESKTOP */
@media screen and (max-width: 980px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    main {
        text-align: left;
    }
}